@font-face {
  font-family: "brice";
  src: url("../resrc/Brice-SemiBold.otf");
}

@font-face {
  font-family: "satoshi-bold";
  src: url("../resrc/Satoshi-Bold.otf");
}

@font-face {
  font-family: "satoshi-bolditalic";
  src: url("../resrc/Satoshi-BoldItalic.otf");
}

@font-face {
  font-family: "satoshi-medium";
  src: url("../resrc/Satoshi-Medium.otf");
}

@font-face {
  font-family: "satoshi-mediumitalic";
  src: url("../resrc/Satoshi-MediumItalic.otf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #f4ede3;
}

header {
  height: 50vh;
}

.waves {
  width: 100vw;
  line-height: 0;
  position: relative;
}

.waves img {
  max-width: 100%;
}

.bluetext {
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 1;
}
