@font-face {
  font-family: "brice";
  src: url("../resrc/Brice-SemiBold.otf");
}

@font-face {
  font-family: "satoshi-bold";
  src: url("../resrc/Satoshi-Bold.otf");
}

@font-face {
  font-family: "satoshi-bolditalic";
  src: url("../resrc/Satoshi-BoldItalic.otf");
}

@font-face {
  font-family: "satoshi-medium";
  src: url("../resrc/Satoshi-Medium.otf");
}

@font-face {
  font-family: "satoshi-mediumitalic";
  src: url("../resrc/Satoshi-MediumItalic.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b25b7;
  width: 100%;
}

header {
  font-family: satoshi-bold;
  color: white;
}

.nav_container {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
  margin-right: 5%;
}

li {
  list-style: none;
}

.logo {
  width: 8rem;
  position: absolute;
}

.icons {
  display: flex;
  gap: 1rem;
}

.icons img {
  width: 2rem;
  height: 2rem;
}

.menu {
  display: flex;
  gap: 3rem;
}

li span {
  font-family: satoshi-medium;
  font-size: 20px;
}
